
/* MD Colors

            50     100    200    300    400    500    600    700    800    900
Red         FFEBEE FFCDD2 EF9A9A E57373 EF5350 F44336 E53935 D32F2F C62828 B71C1C
Pink        FCE4EC F8BBD0 F48FB1 F06292 EC407A E91E63 D81B60 C2185B AD1457 880E4F
Purple      F3E5F5 E1BEE7 CE93D8 BA68C8 AB47BC 9C27B0 8E24AA 7B1FA2 6A1B9A 4A148C
Deep Purple EDE7F6 D1C4E9 B39DDB 9575CD 7E57C2 673AB7 5E35B1 512DA8 4527A0 311B92
Indigo      E8EAF6 C5CAE9 9FA8DA 7986CB 5C6BC0 3F51B5 3949AB 303F9F 283593 1A237E
Blue        E3F2FD BBDEFB 90CAF9 64B5F6 42A5F5 2196F3 1E88E5 1976D2 1565C0 0D47A1
Light Blue  E1F5FE B3E5FC 81D4FA 4FC3F7 29B6F6 03A9F4 039BE5 0288D1 0277BD 01579B
Cyan        E0F7FA B2EBF2 80DEEA 4DD0E1 26C6DA 00BCD4 00ACC1 0097A7 00838F 006064
Teal        E0F2F1 B2DFDB 80CBC4 4DB6AC 26A69A 009688 00897B 00796B 00695C 004D40
Green       E8F5E9 C8E6C9 A5D6A7 81C784 66BB6A 4CAF50 43A047 388E3C 2E7D32 1B5E20
Light Green F1F8E9 DCEDC8 C5E1A5 AED581 9CCC65 8BC34A 7CB342 689F38 558B2F 33691E
Lime        F9FBE7 F0F4C3 E6EE9C DCE775 D4E157 CDDC39 C0CA33 AFB42B 9E9D24 827717
Yellow      FFFDE7 FFF9C4 FFF59D FFF176 FFEE58 FFEB3B FDD835 FBC02D F9A825 F57F17
Amber       FFF8E1 FFECB3 FFE082 FFD54F FFCA28 FFC107 FFB300 FFA000 FF8F00 FF6F00
Orange      FFF3E0 FFE0B2 FFCC80 FFB74D FFA726 FF9800 FB8C00 F57C00 EF6C00 E65100
Deep Orange FBE9E7 FFCCBC FFAB91 FF8A65 FF7043 FF5722 F4511E E64A19 D84315 BF360C
Brown       EFEBE9 D7CCC8 BCAAA4 A1887F 8D6E63 795548 6D4C41 5D4037 4E342E 3E2723
Grey        FAFAFA F5F5F5 EEEEEE E0E0E0 BDBDBD 9E9E9E 757575 616161 424242 212121
Blue Grey   ECEFF1 CFD8DC B0BEC5 90A4AE 78909C 607D8B 546E7A 455A64 37474F 263238

MD Shadows
1 Raised-Button
card-1: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
:hover: box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

card-2: box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
card-3: box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
card-4:  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
card-5:  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


*/
.mdui-view {
  background:#303030 !important;
  color:#ffffff !important;
  font-family: Roboto, Arial;
}

.mdui-view.mdui-has-bottom-navigation {
  /*padding-bottom:48px;*/
}

.mdui-app-bar {
  background:#000000 !important;
  z-index:99;
  border:none !important;
}
.mdui-app-bar .vis-view{
  background:none !important;
}

/* Tabs
https://material.io/guidelines/components/tabs.html
*/
.mdui-tabs {
  background:#212121 !important;
  border:none !important;
  z-index:98;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.85);
}
.mdui-tabs .vis-view{
  background:none !important;
}

/* Bottom Navigation */
.mdui-bottom-navigation {
  background:#212121 !important;
  z-index:98;
  border:none;
  box-shadow:0px -2px 4px -1px rgba(0,0,0,0.8);
}
.mdui-bottom-navigation .vis-view {
  background:none !important;
}


/* -----
   Buttons
   ----- */
.mdui-flat-button,
.mdui-input .ui-button,
.mdui-flat-button .ui-button,
.mdui-flat-button button {
  background:none !important;
  border:none !important;
  color:#4DB6AC !important;
  xfont-weight: bold !important;
  font-size:1em !important;
  text-transform: uppercase;
  border-radius:2px !important;
  xheight:36px !important;
  xmargin:6px !important;
  xmargin-bottom:4px !important;
  padding:6px !important;
  transition: all 0.3s ease;
}

.mdui-flat-button a,
.mdui-flat-button div,
.mdui-flat-button .ui-button {
  color:#ffffff !important;
  background: none !important;
  border:none !important;
  font-weight: normal !important;
}

.mdui-flat-button:hover {
  background: rgba(255,255,255,0.2) !important;
}

/* Minimum width: 88dp Height: 36dp
Normal color: 500  Pressed color: 700
Disabled text: 30% #FFFFFF Disabled button: 12% #FFFFFF
*/
.mdui-raised-button {
  background: #212121 !important;
  border:none !important;
  padding:6px !important;
  xmargin:6px !important;
  xmargin-bottom:4px !important;
  xheight:36px !important;
  border-radius:2px !important;
  transition: all 0.3s ease;
}


.mdui-raised-button {
  box-shadow: 0 1px 3px rgba(0,0,0,0.27), 0 1px 2px rgba(0,0,0,0.54);
}
.mdui-raised-button:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.54), 0 10px 10px rgba(0,0,0,0.54);
}

.mdui-raised-button a,
.mdui-raised-button div,
.mdui-raised-button .ui-button {
  color:#ffffff !important;
  background: none !important;
  border:none !important;
  font-weight: normal !important;
}


/*
*/
.mdui-floating-button {
  background: #000000 !important;
  position: fixed !important;
  z-index:1000;
}
/*
.mdui-floating-button {
  left: calc(100% - 100px) !important;
  top: calc(100% - 100px) !important;
}
*/

.mdui-floating-button.ui-button {
  padding:12px !important;
  border:none !important;
  color:#ffffff !important;
  height:36px !important;
  width:36px !important;
  border-radius:50% !important;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.49), 0 6px 6px rgba(0,0,0,0.53);
}

.mdui-floating-button.ui-button:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.54), 0 10px 10px rgba(0,0,0,0.54);
}


/* -----
   Buttons in AppBar / Tabs / BottomNavigation
   ----- */
.mdui-navigation-button {
  padding:6px !important;
  xmargin:2px !important;
  xheight:24px !important;
  width:auto !important;
  z-index:100;
}

.mdui-navigation-button .vis-widget-body {
}

.mdui-navigation-button .ui-button-text,
.mdui-navigation-button button,
.mdui-navigation-button a,
.mdui-navigation-button .ui-button,
.mdui-navigation-button.ui-button {
  background:none !important;
  border:none !important;
  border-radius:0px !important;
  color:rgba(255,255,255,1) !important;
  font-size:1em !important;
  font-weight:normal !important;
  xpadding:2px;
  xmargin:2px;
}


.mdui-tabs .mdui-navigation-button .ui-button,
.mdui-tabs .mdui-navigation-button button,
.mdui-tabs .mdui-navigation-button a,
.mdui-tabs .mdui-navigation-button.ui-button {
  opacity:0.87;
  border-bottom:2px solid rgba(255,255,255,0) !important;
}

.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-tabs .mdui-navigation-button a.ui-state-active,
.mdui-tabs .mdui-navigation-button .ui-button.ui-state-active,
.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #ffffff !important;
  xcolor:rgba(255,255,255,1) !important;
  opacity:1;
}

.mdui-bottom-navigation .mdui-navigation-button button,
.mdui-bottom-navigation .mdui-navigation-button a,
.mdui-bottom-navigation .mdui-navigation-button.ui-button {
  xmargin-top:0px !important;
  opacity:0.87;
  border-top:2px solid rgba(255,255,255,0) !important;
}
.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-bottom-navigation .mdui-navigation-button a.ui-state-active,
.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #ffffff !important;
  xcolor:rgba(255,255,255,1) !important;
  opacity:1;
}


.mdui-navigation-button:hover {
  background: rgba(255,255,255,0.2) !important;
  color:rgba(255,255,255,1) !important;
}






/* -----
   Cards
   ----- */
.mdui-card {
  background: #424242;
  box-shadow: 0 3px 6px rgba(0,0,0,0.46), 0 3px 6px rgba(0,0,0,0.53);
  border-radius:2px;
  xmargin:6px !important;
  z-index:0;
}

.mdui-card-title {
  xpadding-left:6px;
  xpadding-right:2px;
  xmargin-top:6px;
  z-index:2;
  color: rgba(255,255,255,0.87) !important;
  font-size: 1.2em !important;
  text-shadow:none !important;
  letter-spacing: 0px !important;
  width:auto;
  height:auto;
}

.mdui-card-subtitle {
  xpadding-left:6px;
  xpadding-right:2px;
  z-index:2;
  color: rgba(255,255,255,0.54);
  font-size: 0.9em;
  text-shadow:none !important;
  letter-spacing: 0px !important;
  width:auto;
  height:auto;
}

/* -----
   label
   ----- */
.mdui-text-label {
  z-index:2;
  color:rgba(255,255,255,0.66) !important;
  font-weight:normal !important;
  font-size:0.9em !important;
  text-shadow:none !important;
  letter-spacing: 0px !important;
}

.mdui-text-value {
  z-index:2;
  color:rgba(255,255,255,1) !important;
  font-weight:bold !important;
  font-size:1em !important;
  text-shadow:none !important;
  letter-spacing: 0px !important;
}






/* -----
   Slider
   -----
Der folgende CSS Code wandelt das jqui Control "Slider"
so um, dass es sich im Stil eines Slider Controls im Material Design
zeigt und so bedienbar ist.

<div class="vis-widget-body mdui-slider" style="padding: 4px;">
  <div class="sliderJQUI ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="w00003_slider" data-oid="javascript.0.Variable.TestINTEGER" data-oid2="" data-oid-working="" data-oid2-working="">
    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 47%;"></span>
  </div>
</div>
*/


.mdui-slider .ui-slider {
  border:none  !important;
  z-index:2;
  padding:0px !important;
  margin:0px !important;
  background:rgba(255,255,255,0.54) !important;
}

.mdui-slider .ui-slider-horizontal {
  top:calc(50% - 6px);
  height:4px !important;
  width:calc(100% - 18px) !important;
  left:6px !important;
}

.mdui-slider .ui-slider-vertical {
  left:calc(50% - 6px) !important;
  width:4px !important;
  height:calc(100% - 18px) !important;
  top:6px !important;
}

.mdui-slider .ui-slider-handle {
  width:20px !important;
  height:20px !important;
  background: #ffffff !important;
  border:none  !important;
  border-radius: 50% !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.27),
    0 2px 2px 0 rgba(0, 0, 0, 0.27),
    0 1px 5px 0 rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease;
}

.mdui-slider .ui-slider-horizontal .ui-slider-handle {
  top:calc(50% - 10px) !important;
}

.mdui-slider .ui-slider-vertical .ui-slider-handle {
  left:calc(50% - 10px) !important;
}

.mdui-slider .ui-slider-handle:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.27),
    0 2px 2px 0 rgba(0, 0, 0, 0.27),
    0 1px 5px 0 rgba(0, 0, 0, 0.54),
    0 0 0 6px rgba(255,255,255,0.3);
}

.mdui-slider.mdui-color-amber .ui-slider-handle {
  background: #FFC107 !important;
}
.mdui-slider.mdui-color-indigo .ui-slider-handle {
  background: #3F51B5 !important;
}
.mdui-slider.mdui-color-red .ui-slider-handle {
  background: #F44336 !important;
}
.mdui-slider.mdui-color-lime .ui-slider-handle {
  background: #CDDC39 !important;
}


/* -----
   Radio Buttons
   ----- */
.mdui-radio *[id*="_radio"] {
  background:none !important;
  border:none !important;
  color:rgba(0,0,0,1) !important;
}
.mdui-radio *[id*="_radio"] * {
  padding-top:2px !important;
  padding-bottom:2px !important;
  padding-left:4px !important;
  padding-right:4px !important;
}
.mdui-radio *[id*="_radio"] label {
  background:none !important;
  border:none !important;
  color:rgba(255,255,255,0.87) !important;
  font-weight:normal !important;
  border-radius:0px !important;
  border-bottom:2px solid rgba(0,0,0,0) !important;
}
.mdui-radio *[id*="_radio"] label.ui-state-active {
  border-bottom-color:#ffffff !important;
  color:rgba(255,255,255,1) !important;
}
.mdui-radio *[id*="_radio"] label:hover {
  background: rgba(255,255,255,0.2) !important;
}


/* -----
   Switch
   -----
Der folgende CSS Code wandelt ein das basic Control "bool - checkbox"
so um, dass es sich im Stil eines Switch Controls im Material Design
zeigt und so bedienbar ist.
Hierzu wird mit den CSS Pseudoklassen :before und :after gearbeitet,
welche aber leider für ein HTML-Input (Checkbox) nicht zur Verfügung
stehen. Deswegen muss das Control um ein HTML-label erweitert werden.
An diesem werden dann die CSS-Manipulationen vorgenommen.

In vis muss je Control eingestellt werden:
Generell > CSS Klasse : "mdui-switch" zuweisen
Allgemein > HTML anhängen : "<label for='[ctrl_id]_checkbox'></label>"
  wobei [ctrl_id] durch die echte Control-ID zu ersetzen ist, Bsp w00002

uh 2017-08-12
*/

/*
<div class="vis-widget  vis-widget-lock ui-draggable ui-draggable-handle" id="w00089" data-vis-resizable="{&quot;disabled&quot;:true, &quot;handles&quot;:&quot;&quot;}" data-zmodified="true" style="left: 768px; top: 600px; z-index: 700; width: 152px; right: auto; height: 47px; bottom: auto;">
        <div class="vis-widget-body">
            <div id="w00089_radio" data-oid="nothing_selected" style="display: flex" class="ui-buttonset">
                <input type="radio" id="w00089_radio0" name="w00089_radio" value="0" checked="checked" class="ui-helper-hidden-accessible"><label for="w00089_radio0" style="padding: 5px;" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" role="button"><span class="ui-button-text">OFF</span></label>
                <input type="radio" id="w00089_radio1" name="w00089_radio" value="1" class="ui-helper-hidden-accessible"><label for="w00089_radio1" style="padding: 5px;" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button"><span class="ui-button-text">ON</span></label>
            </div>
        </div>
    </div>
    */

.mdui-switch {
  z-index:2;
  xheight:36px;
  xwidth:48px;
  xpadding:6px;
}


.mdui-switch input[type="checkbox"] {
  display: none;
}

.mdui-switch input[type="checkbox"]~label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index:2;
  height:100%;
  width:100%;
}
.mdui-switch input[type="checkbox"]~label:before,
.mdui-switch input[type="checkbox"]~label:after {
  content: "";
  position: absolute;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mdui-switch input[type="checkbox"]~label:before {
  left: 0px;
  width: 48px;
  height: 20px;
  background-color: #808080;
  border-radius: 100px;
}

.mdui-switch input[type="checkbox"]~label:after {
  left: 0px;
  width: 24px;
  height: 24px;
  background-color: #c0c0c0;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.27),
    0 2px 2px 0 rgba(0, 0, 0, 0.27),
    0 1px 5px 0 rgba(0, 0, 0, 0.54);
}
.mdui-switch input[type="checkbox"]~label:hover:after {
  xbox-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.27),
    0 2px 2px 0 rgba(0, 0, 0, 0.27),
    0 1px 5px 0 rgba(0, 0, 0, 0.54),
    0 0 0 6px rgba(255,255,255,0.2);
}
.mdui-switch:hover {
  background: rgba(255,255,255,0.2) !important;
}

.mdui-switch input[type="checkbox"]:checked~label:before {
  background-color: #e8e8e8;
}
.mdui-color-teal input[type="checkbox"]:checked~label:before { background-color: #00695C; }
.mdui-color-indigo input[type="checkbox"]:checked~label:before { background-color: #1A237E; }
.mdui-color-amber input[type="checkbox"]:checked~label:before { background-color: #FF6F00; }
.mdui-color-lime input[type="checkbox"]:checked~label:before {  background-color: #827717; }
.mdui-color-red input[type="checkbox"]:checked~label:before {  background-color: #B71C1C; }

.mdui-switch input[type="checkbox"]:checked~label:after {
  background-color: #ffffff;
  -ms-transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.mdui-switch.mdui-color-teal input[type="checkbox"]:checked~label:after { background-color: #009688; }
.mdui-switch.mdui-color-indigo input[type="checkbox"]:checked~label:after { background-color: #3F51B5; }
.mdui-switch.mdui-color-amber input[type="checkbox"]:checked~label:after { background-color: #FFC107; }
.mdui-switch.mdui-color-lime input[type="checkbox"]:checked~label:after { background-color: #CDDC39; }
.mdui-switch.mdui-color-red input[type="checkbox"]:checked~label:after { background-color: #F44336; }



/* -----
   input
   -----
   <input type="text" name="w00075_input" id="w00075_input" data-no-style="" size="10" style="padding: 0px 5px; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; text-align: left; outline: none; cursor: text; height: 95%;" class="ui-button ui-widget ui-state-default ui-corner-all" role="button">
*/

.mdui-input  {
  padding-left:6px;
  color:rgba(255,255,255,0.87);
  font-weight:normal;
  font-size:0.9em;
  z-index:2;
}


.mdui-input input[type="text"] {
  border-bottom : 2px solid rgba(255,255,255,0.54) !important;
  font-weight:normal;
  font-size:1em;
  color : rgba(255,255,255,1) !important;
  background: rgba(0,0,0,0.1) !important;
  height:60% !important;
  min-height:0px !important;
}

.mdui-input input[type="text"]:hover,
.mdui-input input[type="text"]:focus {
  border-bottom-color : #FFCA28 !important;
  background: rgba(0,0,0,0.3) !important;
}

/* -----
   Dialogs
   ----- */
.ui-dialog {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3), 0 14px 28px rgba(0,0,0,0.65), 0 10px 10px rgba(0,0,0,0.62);
  border:none;
  background:#303030;
  border-radius:2px;
  position:absolute;
}

.vis_container_edit .ui-dialog {
    background:#ff3030;
}

.ui-dialog .ui-widget-content {
  padding:0px;
  margin:0px;
}

.ui-dialog .ui-widget-header {
  border:none;
  background:none;
}

.ui-dialog .ui-widget-header .ui-button,
.ui-dialog .ui-dialog-content .ui-button{
  border:none !important;
  background:none !important;
  color: #ffffff !important;
}


/* -----
   DatePicker
   ----- */
.ui-datepicker {
  background: #303030 !important;
  color: rgba(255,255,255,0.87) !important;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3), 0 14px 28px rgba(0,0,0,0.65), 0 10px 10px rgba(0,0,0,0.62);
  border:none;
  border-radius:2px;
}

.ui-datepicker-header,
.ui-datepicker td,
.ui-datepicker td a {
  background: #303030 !important;
  color: rgba(255,255,255,0.87) !important;
  border:none !important;
}

.ui-datepicker td a:hover {
    background: rgba(255,255,255,0.2) !important;
}

.ui-datepicker td a.ui-state-active {
    color: rgba(0,255,0,1) !important;
}
.ui-datepicker td a.ui-state-highlight {
    color: rgba(255,0,0,1) !important;
}

.ui-datepicker th {
  color: rgba(255,255,255,0.54) !important;
}

.ui-datepicker button {
  background: #303030 !important;
  border:none !important;
  color: rgba(255,255,0,1) !important;
}


/* -----
   Farben
   ----- */
/* 900 */
.mdui-background-teal.mdui-app-bar {
  background : #004D40 !important;
}
.mdui-background-indigo.mdui-app-bar {
  background : #1A237E !important;
}
.mdui-background-amber.mdui-app-bar {
  background : #FF6F00 !important;
}
.mdui-background-lime.mdui-app-bar {
  background : #827717 !important;
}
.mdui-background-red.mdui-app-bar {
  background : #B71C1C !important;
}
.mdui-background-green.mdui-app-bar {
  background : #1B5E20 !important;
}
.mdui-background-yellow.mdui-app-bar {
  background : #F57F17 !important;
}
.mdui-background-brown.mdui-app-bar {
  background : #3E2723 !important;
}


/* 800 */
.mdui-background-teal.mdui-bars,
.mdui-background-teal.mdui-bottom-navigation {
  background : #00695C !important;
}
.mdui-background-indigo.mdui-bars,
.mdui-background-indigo.mdui-bottom-navigation {
  background : #283593 !important;
}
.mdui-background-lime.mdui-bars,
.mdui-background-lime.mdui-bottom-navigation {
  background : #9E9D24 !important;
}
.mdui-background-amber.mdui-bars,
.mdui-background-amber.mdui-bottom-navigation {
  background : #FF8F00 !important;
}
.mdui-background-red.mdui-bars,
.mdui-background-red.mdui-bottom-navigation {
  background : #C62828 !important;
}
.mdui-background-green.mdui-bars,
.mdui-background-green.mdui-bottom-navigation {
  background : #2E7D32 !important;
}
.mdui-background-yellow.mdui-bars,
.mdui-background-yellow.mdui-bottom-navigation {
  background : #F9A825 !important;
}
.mdui-background-brown.mdui-bars,
.mdui-background-brown.mdui-bottom-navigation {
  background : #4E342E !important;
}



/* 500 */
.mdui-background-teal {
  background-color: #009688 !important;
}
.mdui-background-amber {
  background-color: #FFCA28 !important;
}
.mdui-background-indigo  {
  background-color: #3F51B5 !important;
}
.mdui-background-lime {
  background-color: #CDDC39 !important;
}
.mdui-background-red {
  background-color: #F44336 !important;
}
.mdui-background-green {
  background-color: #4CAF50 !important;
}
.mdui-background-yellow {
  background-color: #FFEB3B !important;
}
.mdui-background-brown {
  background-color: #FFEB3B !important;
}


.mdui-color-teal.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-teal.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #009688 !important;
}
.mdui-color-amber.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-amber.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #FFCA28 !important;
}
.mdui-color-indigo.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-indigo.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #3F51B5 !important;
}
.mdui-color-lime.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-lime.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #CDDC39 !important;
}
.mdui-color-red.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-red.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #F44336 !important;
}
.mdui-color-green.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-green.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #4CAF50 !important;
}
.mdui-color-yellow.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-yellow.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #FFEB3B !important;
}
.mdui-color-brown.mdui-tabs .mdui-navigation-button button.ui-state-active,
.mdui-color-brown.mdui-tabs .mdui-navigation-button.ui-button.ui-state-active {
  border-bottom-color: #795548 !important;
}


.mdui-color-teal.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-teal.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #009688 !important;
}
.mdui-color-amber.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-amber.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #FFCA28 !important;
}
.mdui-color-indigo.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-indigo.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #3F51B5 !important;
}
.mdui-color-lime.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-lime.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #CDDC39 !important;
}
.mdui-color-red.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-red.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #F44336 !important;
}
.mdui-color-green.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-green.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #4CAF50 !important;
}
.mdui-color-yellow.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-yellow.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #FFEB3B !important;
}
.mdui-color-brown.mdui-bottom-navigation .mdui-navigation-button button.ui-state-active,
.mdui-color-brown.mdui-bottom-navigation .mdui-navigation-button.ui-button.ui-state-active {
  border-top-color: #795548 !important;
}


.mdui-background-teal.mdui-card {
  background-color: rgba(0,150,120,0.25) !important;
}
.mdui-background-amber.mdui-card {
  background-color: rgba(255,111,0,0.25) !important;
}
.mdui-background-indigo.mdui-card {
  background-color: rgba(26,45,126,0.25) !important;
}
.mdui-background-lime.mdui-card {
  background-color: rgba(130,119,23,0.25) !important;
}
.mdui-background-red.mdui-card {
  background-color: rgba(176,28,28,0.25) !important;
}
.mdui-background-green.mdui-card {
  background-color: rgba(76,175,80,0.25) !important;
}
.mdui-background-yellow.mdui-card {
  background-color: rgba(255,235,50,0.25) !important;
}
.mdui-background-brown.mdui-card {
  background-color: rgba(121,85,72,0.25) !important;
}


.mdui-color-teal.mdui-radio *[id*="_radio"] label,
.mdui-color-teal,
.mdui-color-teal.mdui-text-label,
.mdui-color-teal.mdui-text-value,
.mdui-color-teal.mdui-navigation-button,
.mdui-color-teal.mdui-navigation-button a,
.mdui-color-teal.mdui-flat-button div,
.mdui-color-teal.mdui-flat-button a,
.mdui-color-teal.mdui-flat-button .ui-button,
.mdui-color-teal.mdui-flat-button.ui-button,
.mdui-color-teal.mdui-floating-button.ui-button {
  color: #009688 !important;
}
.mdui-color-amber.mdui-radio *[id*="_radio"] label,
.mdui-color-amber,
.mdui-color-amber.mdui-text-label,
.mdui-color-amber.mdui-text-value,
.mdui-color-amber.mdui-navigation-button,
.mdui-color-amber.mdui-navigation-button a,
.mdui-color-amber.mdui-flat-button div,
.mdui-color-amber.mdui-flat-button a,
.mdui-color-amber.mdui-flat-button .ui-button,
.mdui-color-amber.mdui-flat-button.ui-button,
.mdui-floating-button.mdui-color-amber.ui-button  {
  color: #FFCA28 !important;
}
.mdui-color-indigo,
.mdui-color-indigo.mdui-radio *[id*="_radio"] label,
.mdui-color-indigo.mdui-text-label,
.mdui-color-indigo.mdui-text-value,
.mdui-color-indigo.mdui-navigation-button,
.mdui-color-indigo.mdui-navigation-button a,
.mdui-color-indigo.mdui-flat-button div,
.mdui-color-indigo.mdui-flat-button a,
.mdui-color-indigo.mdui-flat-button .ui-button,
.mdui-color-indigo.mdui-flat-button.ui-button,
.mdui-color-indigo.mdui-floating-button.ui-button  {
  color: #7986CB !important;
}
.mdui-color-lime,
.mdui-color-lime.mdui-radio *[id*="_radio"] label,
.mdui-color-lime.mdui-text-label,
.mdui-color-lime.mdui-text-value,
.mdui-color-lime.mdui-navigation-button,
.mdui-color-lime.mdui-navigation-button a,
.mdui-color-lime.mdui-flat-button div,
.mdui-color-lime.mdui-flat-button a,
.mdui-color-lime.mdui-flat-button .ui-button,
.mdui-color-lime.mdui-flat-button.ui-button,
.mdui-color-lime.mdui-floating-button.ui-button  {
  color: #CDDC39 !important;
}
.mdui-color-red,
.mdui-color-red.mdui-radio *[id*="_radio"] label,
.mdui-color-red.mdui-text-label,
.mdui-color-red.mdui-text-value,
.mdui-color-red.mdui-navigation-button,
.mdui-color-red.mdui-navigation-button a,
.mdui-color-red.mdui-flat-button div,
.mdui-color-red.mdui-flat-button a,
.mdui-color-red.mdui-flat-button .ui-button,
.mdui-color-red.mdui-flat-button.ui-button  {
  color: #F44336 !important;
}
.mdui-color-green,
.mdui-color-green.mdui-radio *[id*="_radio"] label,
.mdui-color-green.mdui-text-label,
.mdui-color-green.mdui-text-value,
.mdui-color-green.mdui-navigation-button,
.mdui-color-green.mdui-navigation-button a,
.mdui-color-green.mdui-flat-button div,
.mdui-color-green.mdui-flat-button a,
.mdui-color-green.mdui-flat-button .ui-button,
.mdui-color-green.mdui-flat-button.ui-button  {
  color: #4CAF50 !important;
}
.mdui-color-yellow,
.mdui-color-yellow.mdui-radio *[id*="_radio"] label,
.mdui-color-yellow.mdui-text-label,
.mdui-color-yellow.mdui-text-value,
.mdui-color-yellow.mdui-navigation-button,
.mdui-color-yellow.mdui-navigation-button a,
.mdui-color-yellow.mdui-flat-button div,
.mdui-color-yellow.mdui-flat-button a,
.mdui-color-yellow.mdui-flat-button .ui-button,
.mdui-color-yellow.mdui-flat-button.ui-button  {
  color: #FFEB3B !important;
}
.mdui-color-brown,
.mdui-color-brown.mdui-radio *[id*="_radio"] label,
.mdui-color-brown.mdui-text-label,
.mdui-color-brown.mdui-text-value,
.mdui-color-brown.mdui-navigation-button,
.mdui-color-brown.mdui-navigation-button a,
.mdui-color-brown.mdui-flat-button div,
.mdui-color-brown.mdui-flat-button a,
.mdui-color-brown.mdui-flat-button .ui-button,
.mdui-color-brown.mdui-flat-button.ui-button  {
  color: #795548 !important;
}




/* -----
   Debug
   ----- */


.vis_container_edit .vis-widget {
  box-shadow: 0 0 0 1px rgba(255,0,0,0.33) inset;
}

.vis_container_edit .vis-widget:hover,
.xvis_container_edit .vis-widget.ui-draggable,
.xvis_container_edit .vis-widget.ui-draggable-handle,
.xvis_container_edit .vis-widget.ui-resizable
{
  box-shadow: 0 0 0 1px rgba(255,0,0,0.33) inset,
     0 0 0 1000px rgba(255,0,0,0.1) inset;
}

.widget-helper {
 border:none !important;
 box-shadow: 0 0 1000px 0 rgba(255,0,0,0.5) inset;
 color:rgba(0,0,0,0) !important;
 background:rgba(0,0,0,0) !important;
}

.vis_container_edit .mdui-card
{
  opacity:0.87;
}

.vis_container_edit .mdui-flat-button,
.vis_container_edit .mdui-raised-button,
.vis_container_edit .mdui-floating-button {
    transition:none;
}
